@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Düzeleme Sayfası</h1>
@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogBaslik, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Thumbnail Url")
    @Html.TextBoxFor(x => x.BlogkucukImg, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Görseli")
    @Html.TextBoxFor(x => x.BlogImg, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Kategori")
    @Html.DropDownListFor(x => x.kategoriID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    <br />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x => x.Blogicerik, 15, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
}

